.banner {
  width: 100%;
  height: 250px;
  background-image: url(./assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
}
